################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/packages/checkbox/node_modules
/.vs
/packages/checkbox/coverage
