:host{
    --checkbox-font-family: var(--primary-font-family);
    --checkbox-font-color: var(--secondary-text);
    --metadata-font-family: var(--primary-font-family);
    --metadata-font-color: var(--tertiary-text);
    --metadata-font-weight: var(--font-weight-regular);
    --checkbox-background-color: var(--secondary);
    --checkbox-disabled-background-color: var(--disabled-text);
    --checkbox-border-color: var(--secondary-text);
    --error-message-color: var(--error-text);
    --error-message-font-family: var(--primary-font-family);
    --error-message-font-weight:var(--font-weight-semi-bold)
}
$error-message-font-size: 1.2rem;
$checkbox-container-font-size: 1.4rem;
